{% extends 'home_base.html' %}
{% block content %}
<style type="text/css">
span ul{
	margin: 0;
    padding: 0;
}
span ul li{
	list-style: none;
    background: beige;
    padding: 10px;
    border-radius: 4px;
}
input{
	margin-top: 15px;
	margin-bottom: 15px;
}
</style>
	<div class="container">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4 page-border text-center">
				<h1 class="text-center">
				Login 
				</h1>
				<form method="POST" >
					{% csrf_token %}
					{% for field in form %}
				  		<span class="text-danger">{{ field.errors }}</span>
						{% if field.label == "Password" %}
							<input type="password" class="form-control" name="{{field.name}}" placeholder="{{field.label}}" />
						{% else %}
							<input type="text"  class="form-control" name="{{field.name}}" placeholder="{{field.label}}" />
						{% endif %}
					{% endfor %}
					<button type="submit" class="btn btn-block btn-primary btn-lg">Login</button>
					<br>
					<a href="/signup">Not registered, yet? Sign up!</a>
					<br><br><a href="/" class="btn btn-danger">Back to Home</a>

				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
{% endblock %}