{% extends 'home_base.html' %}
{% block content %}
<style type="text/css">
span ul{
	margin: 0;
    padding: 0;
}
span ul li{
	list-style: none;
    background: beige;
    padding: 10px;
    border-radius: 4px;
}
input{
	margin-top: 15px;
	margin-bottom: 15px;
}
</style>
<div class="container">
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 page-border text-center">
			<h1 class="text-center">Sign up</h1>
			<form method="POST" >
				{% csrf_token %}
				{% for field in form %}
				  	<span class="text-danger">{{ field.errors }}</span>
					<input type="{% if 'password' in field.name %}password{% else %}input{% endif %}" class="form-control" name="{{field.name}}" placeholder="{{field.label}}" />
				{% endfor %}
				<button type="submit" class="btn btn-block btn-primary btn-lg">Sign up</button>
				<br>
				<a href="/login">Already registered? Login!</a>
				<br><br><a href="/" class="btn btn-danger">Back to Home</a>

			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}