{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			<h4 class="bg-success p-3 mb-3 text-center text-light text-bold">{{group.name}}</h4>
			<h2>Add member to this group </h2>
			<br>
			<div class="row ">
				<div class="col-md-12">
					<ul class="list-group">
						{% for friend in friend_list %}
							<li class="list-group-item">
							<div>
								
								<h5 class=" text-default mt-2">
								<img class="img-fluid rounded " width="5%" src="{% static 'img/user.png' %}" alt="">
								{{friend.user_2.username}}
								{% if friend.user_2.profile.is_online %}
									<span class="badge badge-primary badge-pill">online</span>
									{% else %}
									<span class="badge badge-dark badge-pill">offline</span>
								{% endif %}
								<div class="btn-group float-right">
								{% load app_filters %} 
				                {% if group.id|is_already_member:friend.user_2.id %}
				                	<button type="button" disabled class="btn btn-secondary disabled mt-2">added</button>
				                {% else %}
									<button type="button" id="btn_{{friend.user_2.id}}" onclick="add_member_to_group({{friend.user_2.id}})" class="btn btn-primary mt-2">add</button>
								{% endif %}
								</div>
								</h5>

								
							</div>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
			</div>
			<div class="col-md-1"></div>
			
		</div>
	</div>


{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	function add_member_to_group(member_id) {
		$.ajax({
		    url : "/group/add_member_to_group/"+member_id+"/",
		    type: "POST",
		    data: JSON.stringify(
		        {group_id: '{{group.id}}'}
		    ),
		    contentType: "application/json; charset=utf-8",
		    dataType   : "json",
		    success: function(data){
				if (data.status=='200') {
					$("#btn_"+member_id).text("Added")
					$("#btn_"+member_id).addClass("btn-secondary disabled");
		        }
		    }
		});
	}
</script>
{% endblock %}