<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hellochitchat</title>
	{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Hello-chitchat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>  
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'list' %}">Friend list</a>
      </li>      
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'search' %}">Search friends</a>
      </li> 
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'group_list' %}">Groups</a>
      </li>  
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'chat_list' %}">Chat</a>
      </li>
    </ul>
    {% if request.user.is_authenticated %}
      <a href="/logout" class="btn btn-secondary my-2 my-sm-0" >( {{request.user.username}} )Logout</a>
    {% endif %}
  </div>
</nav>
{% block content %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>