{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 ">
        <p class="text-center bg-secondary p-3"> <a href="{% url 'chat_list' %}" class="float-left text-dark">Back</a> your are chatting with-<b>{{user_2.username}}</b></p>
        <div class="border mb-3" id="err" style="height: 300px;overflow-x: hidden;overflow-y: scroll;">
        
        <table class="ml-2 mr-2 table table-borderless" id="chat_table">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if messages %}
              {% load app_filters %} 
              {% for message in messages %}
                {% if request.user.id|logged_user_is_sender:message.from_user_id %}
                <tr>
                  <td class="float-right text-light" data-toggle="tooltip" title="{{message.created_at}}">
                  <span data-toggle="tooltip" title="{{message.created_at}}" class="text-muted text-dark " style="font-size: smaller;">You</span>
                  <img data-toggle="tooltip" title="{{message.created_at}}" style="height: 40px;width: 40px;" src="{{request.user.profile.profile_pic.url}}" class="img-fluid rounded-circle">  
                  <span class="bg-primary p-2" data-toggle="tooltip" title="{{message.created_at}}">{{message.message}}</span>
                  </td>
                </tr>
                {% else %}
                <tr>
                  <td class="float-left " data-toggle="tooltip" title="{{message.created_at}}">
                  <span class="text-muted text-dark " style="font-size: smaller;">{{message.from_user.username}}</span>
                  <img style="height: 40px;width: 40px;" src="{{message.from_user.profile.profile_pic.url}}" class="img-fluid rounded-circle">  
                  <span class="bg-secondary p-2">{{message.message}}</span>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            {% else %}
              <p class="text-center pt-3" id="empty">No new messages</p>
            {% endif %}
          </tbody>
        </table>
       
      </div>
        <div class="input-group mb-3">
            <button class="btn btn-warning col-md-1 col-sm-2 col-xs-4" type="button">
              <img src="{% static '/img/gallery.png' %}"  width="50%">
            </button> 
          <textarea type="text" id="msg" class="form-control" placeholder="Message..." rows="2"></textarea>
          <div class="input-group-append">
            <button class="btn btn-success" type="button" onclick="send_msg({{user_2.id}})">Send</button> 
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
// $(function() {
//   $(".scroll").scrollTop($(".container").height());
// });
$(document).ready(function() {
  $("#err").scrollTop($("#err")[0].scrollHeight);
  check_new_msg();
})
function add_friend(user_id) {
    // alert(user_id);
    $.ajax({
            url : "/friends/add_friend/"+user_id+"/",
            type: "POST",
            data: JSON.stringify(
                {user_id: user_id}
            ),
            contentType: "application/json; charset=utf-8",
            dataType   : "json",
            success: function(data){
                if (data.status=='200') {
                  $("#btn_"+user_id).text("Already friend");
                  $("#btn_"+user_id).attr("disabled");
                  $("#btn_"+user_id).addClass("btn-secondary disabled");
                }else if (data.status=='222') {
                  $("#btn_"+user_id).text("Already friend");
                  $("#btn_"+user_id).attr("disabled");
                  $("#btn_"+user_id).addClass("btn-secondary disabled");
                };
            }
        });
}
function send_msg(receiver_id) {
  var msg=$("#msg").val();
  if (msg==""|| msg==null) {
    $("#err").html("<p class='bg-warning pt-2 pb-2 text-center'>Type somthing to send</p>")
  }else{
    $.ajax({
      url : "/chat/send_msg/"+receiver_id+"/",
      type: "POST",
      data: JSON.stringify(
          {receiver_id: receiver_id,msg:msg}
      ),
      contentType: "application/json; charset=utf-8",
      dataType   : "json",
      success: function(data){
          if (data.status=='200') {
            $("#chat_table > tbody").append(
                '<tr ><td class="float-right text-light"><span class="text-muted text-dark" style="font-size: smaller;">You</span><img style="height: 40px;width: 40px;" src="{{request.user.profile.profile_pic.url}}" class="img-fluid rounded-circle">&nbsp;&nbsp;<span class="bg-primary p-2">'+msg+'</span></td></tr>'
            );
            $("#msg").val("");
            $("#empty").hide();
            $("#err").scrollTop($("#err")[0].scrollHeight);
          }else {
           
          };
      }
    });
  }
}
function check_new_msg() {
    $.ajax({
      url : "/chat/check_new_msg/",
      type: "POST",
      contentType: "application/json; charset=utf-8",
      dataType   : "json",
      success: function(data){
        if (data.status=='200') {
          console.log(data.messages);
          if (data.messages.length>0) {
            for (var i = 0; i < data.messages.length; i++) {
              $("#chat_table > tbody").append(
                '<tr><td class="float-left "><span class="text-muted text-dark " style="font-size: smaller;">'+data.messages[i]['username']+'</span><img style="height: 40px;width: 40px;" src="'+data.messages[i]['img']+'" class="img-fluid rounded-circle">&nbsp;&nbsp;<span class="bg-secondary p-2">'+data.messages[i]['msg']+'</span></td></tr>'
              );
            };
            $("#err").scrollTop($("#err")[0].scrollHeight);
            $("#empty").hide();
          }
          setTimeout("check_new_msg()",500);
        }
      }
    });
}
</script>
{% endblock %}