{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
			<a href="{% url 'search' %}" class="btn btn-sm btn-primary" style="float:right;">Search Friends</a>
			<h2>Friend List</h2>
			<br>
			<div class="row ">
				{% for friend in friend_list %}
				<div class="col-md-3">
					<div class="d-block mb-2 p-3 card text-center">
						{% load static %} 
						<img class="img-fluid rounded" src="{% static 'img/user.png' %}" alt="">
		    			<h4 class="text-default mt-2">{{friend.user_2.username}}</h4>
		    			{% if friend.user_2.profile.is_online %}
							Online
							{% else %}
							Offline
						{% endif %}
		    			<div class="btn-group">
		    				<button type="button" id="btn_{{friend.id}}" onclick="view_profile({{friend.id}})" class="btn btn-primary mt-2">View Profile</button>
		    				<a href="{% url 'conversation' friend.user_2.id %}" class="btn btn-warning mt-2">Chat</a>
						 
						</div>
		  			</div>
				</div>
				{% endfor %}
			</div>
			</div>
			<div class="col-md-1"></div>
			
		</div>
	</div>


{% endblock %}