{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-1"></div>
			<!-- <div class="col-md-10"  style="height: 500px;overflow-x: hidden;overflow-y: scroll;"> -->
			<div class="col-md-10">
			<div id="err"></div>
			<div class="row mb-4">
			<div class="col-md-3"></div>
			<input type="text" id="group_name" required class= "col-md-4 form-control" placeholder="Enter a group name">
			<a href="javascript::void" class="col-md-2 ml-2 btn btn-sm btn-primary" style="float:right;" onclick="create_group({{request.user.id}})">Create Group</a>
			</div>
			<h2 style="border-bottom:1px solid grey;padding-bottom:10px;">My Group List</h2>
			<br>
			<div class="row">
				<div class="col-md-12">
					<ul class="list-group" id="group_list">
					{% if group_list %}
						{% for group in group_list %}
							<li class="list-group-item">
							<div>
								
								<h5 class=" text-default mt-2">
								<img class="img-fluid rounded mr-2" width="5%" src="{% static 'img/user.png' %}" alt="">
								{{group.name}}
								<div class="btn-group float-right">
									<!-- <button type="button" id="btn_{{group.id}}" onclick="add_member({{group.id}})" class="btn btn-primary mt-2">Add Member</button> -->
									<a href="/group/add_member/{{group.id}}/" class="btn btn-primary mt-2">Add Members</a>
									<a href="{% url 'messages' group.id %}" class="btn btn-warning mt-2">Chat</a>
								</div>
								</h5>

								
							</div>
							</li>
						{% endfor %}
					{% else %}
					<h4 id="empty">Empty List !</h4>
					{% endif %}
					</ul>
					
				</div>
			</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1"></div>
			<!-- <div class="col-md-10" style="height: 500px;overflow-x: hidden;overflow-y: scroll;"> -->
			<div class="col-md-10">
			<h2 style="border-bottom:1px solid grey;padding-bottom:10px;">Membership of groups</h2>
			<br>
			<div class="row">
				<div class="col-md-12">
					{% if meAsMemberInGroups %}
					<ul class="list-group">
						{% for member in meAsMemberInGroups %}
							<li class="list-group-item">
							<div>
								
								<h5 class=" text-default mt-2">
								<img class="img-fluid rounded " width="5%" src="{% static 'img/user.png' %}" alt="">
								{{member.group.name}}
								<div class="btn-group float-right">
									<a href="{% url 'messages' member.group.id %}" class="btn btn-warning mt-2">Chat</a>
								</div>
								</h5>

								
							</div>
							</li>
						{% endfor %}
					</ul>
					{% else %}
					<h4 id="empty">Empty List !</h4>
					{% endif %}
				</div>
			</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>


{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	function create_group(user_id) {
		// alert(user_id);
		var group_name=$("#group_name");
		if (group_name.val()==null||group_name.val()=="") {
			$("#err").html("<p class='bg-warning pt-2 pb-2 text-center'>Type somthing to create</p>");
			setTimeout(function(){ $("#err").hide(); }, 2000);
		}else{
			$.ajax({
	            url : "/group/create_group/"+user_id+"/",
	            type: "POST",
	            data: JSON.stringify(
	                {user_id: user_id,group_name:group_name.val()}
	            ),
	            contentType: "application/json; charset=utf-8",
	            dataType   : "json",
	            success: function(data){
					if (data.status=='200') {
						$("#group_list").append(
						    "<li class='list-group-item'>"+
							"<div>"+
								
								"<h5 class='text-default mt-2'>"+
								"<img class='mr-2 img-fluid rounded' width='5%' src='{% static 'img/user.png' %}'' alt=''>"+
								group_name.val()+
								"<div class='btn-group float-right'>"+
									"<a href='/group/add_member/"+data.group_id+"' class='btn btn-primary mt-2'>Add members</a>"+
									"<a href='/group/messages"+data.group_id+"/' class='btn btn-warning mt-2'>Chat</a>"+
								"</div>"+
								"</h5>"+
							"</div>"+
							"</li>"
						);
						$("#group_name").val("");
						$("#empty").hide();
			        }


	            }
	        });
	    }
	}
</script>
{% endblock %}