{% extends 'home_base.html' %}
{% block content %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container-fluid" >
		<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center">
			<h1>Hello-chitchat</h1>
			<p>Experimental social media site</p>
			<button class="btn  col-md-3 btn-success" onclick="window.location='login'">Login</button>
		</div>
		<div class="col-md-3"></div>
		</div>
	</div>


{% endblock %}