{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-6 text-center">
				<h3 class="text-center mt-4 mb-4">Profile informations</h3>
				{% if msg %}
				<div class="alert alert-dismissible alert-success mt-4">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{msg}}
				</div>
				{% endif %}
				<form role="form" action="{% url 'profile'%}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset>
						<input type="file" name="image" id="profile_image" onchange="readURL(this);" style="display:none">

						<div class="form-group row">
							<label class="col-md-3">First Name:</label>
							<input type="text" class="form-control col-md-9" name="first_name" placeholder="Enter first name" value="{{user.first_name}}">
						</div>	

						<div class="form-group row">
							<div class="col-md-3">Last Name</div>
							<input type="text" class="form-control col-md-9" name="last_name" placeholder="Enter last name" value="{{user.last_name}}">

						</div>
						<div class="form-group row">
							<label class="col-md-3">Email:</label>
							<input type="text" class="form-control col-md-9" name="email" placeholder="Enter email" value="{{user.email}}">

						</div>	
						<div class="form-group row">
							<label class="col-md-3">Username:</label>
							<input type="text" class="form-control col-md-9" name="username" disabled placeholder="{{user.username}}" value="{{user.username}}">

						</div>
						<div class="form-group row mt-4">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-primary btn-block">Update</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-3 text-center mt-4 mb-4">
				{% if user.profile.profile_pic %}
				<img class="img-fluid rounded" id="pro_pic" onclick="openFileOption();return;" width="55%" src="{{user.profile.profile_pic.url }}" alt="{{user.username}} photo" style="cursor:pointer;">
				{% else %}
				<img class="img-fluid rounded" id="pro_pic" onclick="openFileOption();return;" width="55%" src="{% static 'img/user.png' %}" alt="user photo" style="cursor:pointer;">
				{% endif %}
			</div>
			
		</div>
		
	</div>


{% endblock %}
{% block js %}
<script>
  function openFileOption(){
  	document.getElementById("profile_image").click();
  }
  function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#pro_pic')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
{% endblock %}