{% extends 'base.html' %}
{% block content %}
	<div class="container">

		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="card-body">
				  	{% if msg %}
					<div class="alert alert-dismissible alert-secondary">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{msg}}
					</div>
					{% endif %}
					<form role="form " action="{% url 'search'%}" method="post">
						<fieldset>
							<div class="form-group row">
								<div class="col-md-3"></div>
								<input type="text" class="form-control col-md-4" name="search_keyword" placeholder="Enter friends name or email or username" value="{{search_keyword}}"required>&nbsp;&nbsp;&nbsp;
								<button type="submit" class="btn btn-primary col-md-2">Search</button>
							</div>
						</fieldset>
					</form>
				  </div>
			</div>
			
		</div>
		{% if users %}
		<h2>{{title}}</h2>
		<div class="row">
			<br>
			<div class="col-md-2"></div>
			{% load app_filters %} 
			{% for user in users %}
			<div class="col-lg-2 col-md-3 col-xs-4">
				<div class="d-block mb-2 p-3 h-100 card  text-center">
					{% load static %}
					<img class="img-fluid rounded" src="{% static 'img/user.png' %}" alt="">
	    			<h5 class="text-default mt-2">{{user.username}}</h5>
	    			
	    			{% if request.user.id|has_friendship:user.id %}
	    				<button type="button" disabled id="btn_{{user.id}}" onclick="add_friend({{user.id}})" class="btn btn-secondary disabled mt-2">Already friend</button>
	    			{% else %}
	    				<button type="button" id="btn_{{user.id}}" onclick="add_friend({{user.id}})" class="btn btn-primary mt-2">Add friend</button>
	    			{% endif %}
	  			</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
			<div class="alert alert-dismissible alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<h4 class="alert-heading">Warning!</h4>
				<p class="mb-0">No users found using this keyword</a>.</p>
			</div>
		{% endif %}
	</div>


{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	function add_friend (user_id) {
		// alert(user_id);
		$.ajax({
            url : "/friends/add_friend/"+user_id+"/",
            type: "POST",
            data: JSON.stringify(
                {user_id: user_id}
            ),
            contentType: "application/json; charset=utf-8",
            dataType   : "json",
            success: function(data){
                if (data.status=='200') {
                	$("#btn_"+user_id).text("Already friend");
                	$("#btn_"+user_id).attr("disabled");
                	$("#btn_"+user_id).addClass("btn-secondary disabled");
                }else if (data.status=='222') {
                	$("#btn_"+user_id).text("Already friend");
                	$("#btn_"+user_id).attr("disabled");
                	$("#btn_"+user_id).addClass("btn-secondary disabled");
                };
            }
        });
	}
</script>
{% endblock %}